<div class="w-3/4 self-center">
  <h1 class="font-bold text-3xl mb-10"><%= title %></h1>

  <form action="/sign-up" method="POST" class="space-y-5">

    <div class="flex gap-3 w-full">
      <div class="w-full">
        <!-- First name input -->
        <%-include("partials/input", {text: "First name", name: "first_name", type: "text", value: (locals.inputs && locals.inputs.first_name) || '', placeholder: "Enter your first name" }) %>
        <!-- First name errors -->
        <%- include('partials/error', { errors: locals.errors, field: 'first_name' }) %>
      </div>

      <div class="w-full">
        <!-- Last name input -->
        <%-include("partials/input", {text: "Last name", name: "last_name", type: "text", value: (locals.inputs && locals.inputs.last_name) || '', placeholder: "Enter your last name" }) %>
        <!-- Last name errors -->
        <%- include('partials/error', { errors: locals.errors, field: 'last_name' }) %>
      </div>
    </div>

    <div>
      <!-- Username input -->
      <%-include("partials/input", {text: "Username", name: "username", type: "text", value: (locals.inputs && locals.inputs.username) || '', placeholder: "Enter your username" }) %>
      <!-- Username errors -->
      <%- include('partials/error', { errors: locals.errors, field: 'username' }) %>
    </div>

    <div>
      <!-- Password input -->
      <%-include("partials/input", {text: "Password", name: "password", type: "password", value: (locals.inputs && locals.inputs.password) || '', placeholder: "Enter a password" }) %>
      <!-- Password errors -->
      <%- include('partials/error', { errors: locals.errors, field: 'password' }) %>
    </div>

    <div>
      <!--Confirm Password input -->
      <%-include("partials/input", {text: "Confirm password", name: "confirm_password", type: "password", value: (locals.inputs && locals.inputs.confirm_password) || '', placeholder: "Confirm your password" }) %>
      <!--Confirm Password errors -->
      <%- include('partials/error', { errors: locals.errors, field: 'confirm_password' }) %>
    </div>

    <!-- Submit button -->
    <%- include('partials/button', {text: "Submit"}) %>
  </form>

  <a href="/login" class="underline mt-3 block text-center">Already have an account? <span class="font-semibold">Login</span></a>
</div>